In [42]:
import pandas as pd
import numpy as np

# data = pd.read_excel(r'C:\Users\Phyu\Downloads\Testing data (Phyu) (1).xlsx')
data = pd.ExcelFile(r'C:\Users\Phyu\backend-setup\uploads\Data_Testing data (Phyu) (1).xlsx')

In [43]:
data.sheet_names

['Part Master',
 'Demand Forecast',
 'Supply Lead-time',
 'Inventory Level History',
 'Inventory Open Order History',
 'Demand History']

In [44]:
data.parse(sheetname='Part Master', skiprows=0).head(10) #get Part Master Sheet names

,Unnamed: 0,Unnamed: 1,Part Master Management,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total SKUs:,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Imported on:,2020-02-25 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,No,Part Master,NaN,NaN,Category,NaN,Cost Structure,NaN,Inventory Policy,NaN,NaN,Item Volume,SKU Segmentation,NaN,NaN,Excess Threshold,NaN,Remark
4,NaN,NaN,SKU_CODE,SKU_Name,SKU_Description,Category,Category Description,Unit_Cost,UOM,Reorder Point,Max,Min Order Qty,NaN,ABC,FNS,XYZ,Threshold (Qty),Pre-defined,NaN
5,NaN,1,SKU1001,(1) Name-1001,Name-1001,Cat_A,Cat_A_des,15.5,NaN,177,251,NaN,NaN,A,F,X,111,NaN,Remark 1
6,NaN,2,SKU1002,(2) Name1002,Name1002,Cat_A,Cat_A_des,25.8,NaN,304,385,NaN,NaN,A,F,X,242,NaN,Remark 2
7,NaN,3,SKU1003,(3) Name-1003,Name-1003,Cat_A,Cat_A_des,40.2,NaN,168,231,NaN,NaN,A,F,X,114,NaN,Remark 3
8,NaN,4,SKU1004,(4) Name-1004,Name-1004,Cat_A,Cat_A_des,40.2,NaN,452,538,NaN,NaN,A,F,X,387,NaN,Remark 4
9,NaN,5,SKU1005,(5) Name-1005,Name-1005,Cat_A,Cat_A_des,40.2,NaN,187,257,NaN,NaN,A,F,X,127,NaN,Remark 5

In [45]:
tabnames = data.sheet_names

In [46]:
print(tabnames[0])

Part Master

In [47]:
i = 0
#df = data.parse(sheetname=tabnames[i], skiprows=5,skipcolumns = 2) #first sheet, skip 5 rows, skip 2 columns 
df = data.parse(sheetname=tabnames[i]) #build dataframe of first sheet 
#df = df.dropna()

In [48]:
print(df)

Unnamed: 0 Unnamed: 1 Part Master Management      Unnamed: 3  \
0          NaN        NaN                    NaN             NaN
1          NaN        NaN                    NaN             NaN
2          NaN        NaN                    NaN             NaN
3          NaN         No            Part Master             NaN
4          NaN        NaN               SKU_CODE        SKU_Name
5          NaN          1                SKU1001   (1) Name-1001
6          NaN          2                SKU1002    (2) Name1002
7          NaN          3                SKU1003   (3) Name-1003
8          NaN          4                SKU1004   (4) Name-1004
9          NaN          5                SKU1005   (5) Name-1005
10         NaN          6                SKU1006   (6) Name-1006
11         NaN          7                SKU1007   (7) Name-1007
12         NaN          8                SKU1008   (8) Name-1008
13         NaN          9                SKU1009   (9) Name-1009
14         NaN         10                SKU1010  (10) Name-1010
15         NaN         11                SKU1011  (11) Name-1011
16         NaN         12                SKU1012  (12) Name-1012
17         NaN         13                SKU1013  (13) Name-1013
18         NaN         14                SKU1014  (14) Name-1014
19         NaN         15                SKU1015  (15) Name-1015
20         NaN         16                SKU1016  (16) Name-1016
21         NaN         17                SKU1017  (17) Name-1017
22         NaN         18                SKU1018  (18) Name-1018
23         NaN         19                SKU1019  (19) Name-1019
24         NaN         20                SKU1020  (20) Name-1020
25         NaN         21                SKU1021  (21) Name-1021
26         NaN         22                SKU1022  (22) Name-1022
27         NaN         23                SKU1023  (23) Name-1023
28         NaN         24                SKU1024  (24) Name-1024
29         NaN         25                SKU1025  (25) Name-1025
30         NaN         26                SKU1026  (26) Name-1026
31         NaN         27                SKU1027  (27) Name-1027
32         NaN         28                SKU1028  (28) Name-1028
33         NaN         29                SKU1029  (29) Name-1029
34         NaN         30                SKU1030  (30) Name-1030
35         NaN         31                SKU1031  (31) Name-1031
36         NaN         32                SKU1032  (32) Name-1032
37         NaN         33                SKU1033  (33) Name-1033
38         NaN         34                SKU1034  (34) Name-1034
39         NaN         35                SKU1035  (35) Name-1035
40         NaN         36                SKU1036  (36) Name-1036
41         NaN         37                SKU1037  (37) Name-1037
42         NaN         38                SKU1038  (38) Name-1038
43         NaN         39                SKU1039  (39) Name-1039
44         NaN         40                SKU1040  (40) Name-1040
45         NaN         41                SKU1041  (41) Name-1041
46         NaN         42                SKU1042  (42) Name-1042
47         NaN         43                SKU1043  (43) Name-1043
48         NaN         44                SKU1044  (44) Name-1044
49         NaN         45                SKU1045  (45) Name-1045
50         NaN         46                SKU1046  (46) Name-1046
51         NaN         47                SKU1047  (47) Name-1047
52         NaN         48                SKU1048  (48) Name-1048
53         NaN         49                SKU1049  (49) Name-1049
54         NaN         50                SKU1050  (50) Name-1050

         Unnamed: 4 Unnamed: 5            Unnamed: 6          Unnamed: 7  \
0               NaN        NaN                   NaN                 NaN
1               NaN        NaN                   NaN                 NaN
2               NaN        NaN                   NaN                 NaN
3               NaN   Category                   NaN      Cost Structure
4   SKU_Description   Category  Category Description           Unit_Cost
5         Name-1001      Cat_A             Cat_A_des                15.5
6          Name1002      Cat_A             Cat_A_des                25.8
7         Name-1003      Cat_A             Cat_A_des                40.2
8         Name-1004      Cat_A             Cat_A_des                40.2
9         Name-1005      Cat_A             Cat_A_des                40.2
10        Name-1006      Cat_A             Cat_A_des                40.2
11        Name-1007      Cat_A             Cat_A_des                40.2
12        Name-1008      Cat_A             Cat_A_des                40.2
13        Name-1009      Cat_A             Cat_A_des                17.5
14        Name-1010      Cat_A             Cat_A_des                  18
15        Name-1011      Cat_A             Cat_A_des                21.9
16        Name-1012      Cat_A             Cat_A_des                16.2
17        Name-1013      Cat_B             Cat_B_des                17.3
18        Name-1014      Cat_B             Cat_B_des                  19
19        Name-1015      Cat_B             Cat_B_des                  15
20        Name-1016      Cat_B             Cat_B_des                  17
21        Name-1017      Cat_B             Cat_B_des                  14
22        Name-1018      Cat_B             Cat_B_des                  13
23        Name-1019      Cat_B             Cat_B_des                  13
24        Name-1020      Cat_B             Cat_B_des                  21
25        Name-1021      Cat_B             Cat_B_des                  22
26        Name-1022      Cat_B             Cat_B_des                   9
27        Name-1023      Cat_C             Cat_C_des                  10
28        Name-1024      Cat_C             Cat_C_des                   9
29        Name-1025      Cat_C             Cat_C_des                  10
30        Name-1026      Cat_C             Cat_C_des                  13
31        Name-1027      Cat_C             Cat_C_des                  13
32        Name-1028      Cat_C             Cat_C_des                  11
33        Name-1029      Cat_C             Cat_C_des                  16
34        Name-1030      Cat_C             Cat_C_des                  10
35        Name-1031      Cat_C             Cat_C_des                  10
36        Name-1032      Cat_C             Cat_C_des                   9
37        Name-1033      Cat_C             Cat_C_des                   9
38        Name-1034      Cat_C             Cat_C_des                  17
39        Name-1035      Cat_C             Cat_C_des                  15
40        Name-1036      Cat_C             Cat_C_des                  20
41        Name-1037      Cat_C             Cat_C_des                  30
42        Name-1038      Cat_D             Cat_D_des                  19
43        Name-1039      Cat_D             Cat_D_des                   7
44        Name-1040      Cat_D             Cat_D_des                   6
45        Name-1041      Cat_D             Cat_D_des                   5
46        Name-1042      Cat_D             Cat_D_des                   6
47        Name-1043      Cat_D             Cat_D_des                   6
48        Name-1044      Cat_D             Cat_D_des                   6
49        Name-1045      Cat_D             Cat_D_des                   5
50        Name-1046      Cat_D             Cat_D_des                   7
51        Name-1047      Cat_D             Cat_D_des                   6
52        Name-1048      Cat_D             Cat_D_des                   6
53        Name-1049      Cat_D             Cat_D_des                   7
54        Name-1050      Cat_D             Cat_D_des                   6

      Unnamed: 8           Unnamed: 9 Unnamed: 10    Unnamed: 11  Unnamed: 12  \
0    Total SKUs:                   50         NaN            NaN          NaN
1   Imported on:  2020-02-25 00:00:00         NaN            NaN          NaN
2            NaN                  NaN         NaN            NaN          NaN
3            NaN     Inventory Policy         NaN            NaN  Item Volume
4            UOM        Reorder Point         Max  Min Order Qty          NaN
5            NaN                  177         251            NaN          NaN
6            NaN                  304         385            NaN          NaN
7            NaN                  168         231            NaN          NaN
8            NaN                  452         538            NaN          NaN
9            NaN                  187         257            NaN          NaN
10           NaN                  375         446            NaN          NaN
11           NaN                  212         301            NaN          NaN
12           NaN                  180         255            NaN          NaN
13           NaN                  180         248            NaN          NaN
14           NaN                  218         300            NaN          NaN
15           NaN                  143         196            NaN          NaN
16           NaN                  169         233            NaN          NaN
17           NaN                  158         217            NaN          NaN
18           NaN                  152         209            NaN          NaN
19           NaN                  238         327            NaN          NaN
20           NaN                  199         274            NaN          NaN
21           NaN                  203         279            NaN          NaN
22           NaN                  245         337            NaN          NaN
23           NaN                  205         282            NaN          NaN
24           NaN                  205         282            NaN          NaN
25           NaN                  182         250            NaN          NaN
26           NaN                  153         210            NaN          NaN
27           NaN                  210         289            NaN          NaN
28           NaN                  179         246            NaN          NaN
29           NaN                  111         153            NaN          NaN
30           NaN                  196         269            NaN          NaN
31           NaN                  262         360            NaN          NaN
32           NaN                  193         265            NaN          NaN
33           NaN                  184         253            NaN          NaN
34           NaN                  130         178            NaN          NaN
35           NaN                  152         209            NaN          NaN
36           NaN                  171         235            NaN          NaN
37           NaN                  130         179            NaN          NaN
38           NaN                  206         284            NaN          NaN
39           NaN                  181         249            NaN          NaN
40           NaN                  241         332            NaN          NaN
41           NaN                  205         282            NaN          NaN
42           NaN                  215         296            NaN          NaN
43           NaN                  177         243            NaN          NaN
44           NaN                  164         225            NaN          NaN
45           NaN                  176         242            NaN          NaN
46           NaN                  168         231            NaN          NaN
47           NaN                  190         261            NaN          NaN
48           NaN                  118         162            NaN          NaN
49           NaN                   81         111            NaN          NaN
50           NaN                  145         199            NaN          NaN
51           NaN                  183         252            NaN          NaN
52           NaN                  156         214            NaN          NaN
53           NaN                  257         353            NaN          NaN
54           NaN                  215         296            NaN          NaN

         Unnamed: 13 Unnamed: 14 Unnamed: 15       Unnamed: 16  Unnamed: 17  \
0                NaN         NaN         NaN               NaN          NaN
1                NaN         NaN         NaN               NaN          NaN
2                NaN         NaN         NaN               NaN          NaN
3   SKU Segmentation         NaN         NaN  Excess Threshold          NaN
4                ABC         FNS         XYZ   Threshold (Qty)  Pre-defined
5                  A           F           X               111          NaN
6                  A           F           X               242          NaN
7                  A           F           X               114          NaN
8                  A           F           X               387          NaN
9                  A           F           X               127          NaN
10                 A           F           X               320          NaN
11                 A           F           X               133          NaN
12                 A           F           X               113          NaN
13                 A           F           X               122          NaN
14                 A           F           X               147          NaN
15                 A           F           X                95          NaN
16                 A           F           X               115          NaN
17                 A           F           X               107          NaN
18                 A           F           X               102          NaN
19                 A           F           X               160          NaN
20                 A           F           X               134          NaN
21                 A           F           X               137          NaN
22                 A           F           X               166          NaN
23                 A           F           X               138          NaN
24                 A           F           X               138          NaN
25                 A           F           X               123          NaN
26                 A           F           X               103          NaN
27                 A           F           X               142          NaN
28                 A           F           X               120          NaN
29                 A           F           X                75          NaN
30                 A           F           X               132          NaN
31                 A           F           X               177          NaN
32                 A           F           X               130          NaN
33                 A           F           X               123          NaN
34                 A           F           X                87          NaN
35                 A           F           X               103          NaN
36                 A           F           X               116          NaN
37                 A           F           X                88          NaN
38                 A           F           X               140          NaN
39                 A           F           X               122          NaN
40                 A           F           X               163          NaN
41                 A           F           X               138          NaN
42                 A           F           X               145          NaN
43                 A           F           X               120          NaN
44                 A           F           X               111          NaN
45                 A           F           X               118          NaN
46                 A           F           X               113          NaN
47                 A           F           X               128          NaN
48                 A           F           X                79          NaN
49                 A           F           X                54          NaN
50                 A           F           X                97          NaN
51                 A           F           X               124          NaN
52                 A           F           X               105          NaN
53                 A           F           X               174          NaN
54                 A           F           X               145          NaN

   Unnamed: 18
0          NaN
1          NaN
2          NaN
3       Remark
4          NaN
5     Remark 1
6     Remark 2
7     Remark 3
8     Remark 4
9     Remark 5
10    Remark 6
11    Remark 7
12    Remark 8
13    Remark 9
14   Remark 10
15   Remark 11
16   Remark 12
17   Remark 13
18   Remark 14
19   Remark 15
20   Remark 16
21   Remark 17
22   Remark 18
23   Remark 19
24   Remark 20
25   Remark 21
26   Remark 22
27   Remark 23
28   Remark 24
29   Remark 25
30   Remark 26
31   Remark 27
32   Remark 28
33   Remark 29
34   Remark 30
35   Remark 31
36   Remark 32
37   Remark 33
38   Remark 34
39   Remark 35
40   Remark 36
41   Remark 37
42   Remark 38
43   Remark 39
44   Remark 40
45   Remark 41
46   Remark 42
47   Remark 43
48   Remark 44
49   Remark 45
50   Remark 46
51   Remark 47
52   Remark 48
53   Remark 49
54   Remark 50

In [49]:
df_str = df.applymap(str)
print(df_str)

Unnamed: 0 Unnamed: 1 Part Master Management      Unnamed: 3  \
0         nan        nan                    nan             nan
1         nan        nan                    nan             nan
2         nan        nan                    nan             nan
3         nan         No            Part Master             nan
4         nan        nan               SKU_CODE        SKU_Name
5         nan          1                SKU1001   (1) Name-1001
6         nan          2                SKU1002    (2) Name1002
7         nan          3                SKU1003   (3) Name-1003
8         nan          4                SKU1004   (4) Name-1004
9         nan          5                SKU1005   (5) Name-1005
10        nan          6                SKU1006   (6) Name-1006
11        nan          7                SKU1007   (7) Name-1007
12        nan          8                SKU1008   (8) Name-1008
13        nan          9                SKU1009   (9) Name-1009
14        nan         10                SKU1010  (10) Name-1010
15        nan         11                SKU1011  (11) Name-1011
16        nan         12                SKU1012  (12) Name-1012
17        nan         13                SKU1013  (13) Name-1013
18        nan         14                SKU1014  (14) Name-1014
19        nan         15                SKU1015  (15) Name-1015
20        nan         16                SKU1016  (16) Name-1016
21        nan         17                SKU1017  (17) Name-1017
22        nan         18                SKU1018  (18) Name-1018
23        nan         19                SKU1019  (19) Name-1019
24        nan         20                SKU1020  (20) Name-1020
25        nan         21                SKU1021  (21) Name-1021
26        nan         22                SKU1022  (22) Name-1022
27        nan         23                SKU1023  (23) Name-1023
28        nan         24                SKU1024  (24) Name-1024
29        nan         25                SKU1025  (25) Name-1025
30        nan         26                SKU1026  (26) Name-1026
31        nan         27                SKU1027  (27) Name-1027
32        nan         28                SKU1028  (28) Name-1028
33        nan         29                SKU1029  (29) Name-1029
34        nan         30                SKU1030  (30) Name-1030
35        nan         31                SKU1031  (31) Name-1031
36        nan         32                SKU1032  (32) Name-1032
37        nan         33                SKU1033  (33) Name-1033
38        nan         34                SKU1034  (34) Name-1034
39        nan         35                SKU1035  (35) Name-1035
40        nan         36                SKU1036  (36) Name-1036
41        nan         37                SKU1037  (37) Name-1037
42        nan         38                SKU1038  (38) Name-1038
43        nan         39                SKU1039  (39) Name-1039
44        nan         40                SKU1040  (40) Name-1040
45        nan         41                SKU1041  (41) Name-1041
46        nan         42                SKU1042  (42) Name-1042
47        nan         43                SKU1043  (43) Name-1043
48        nan         44                SKU1044  (44) Name-1044
49        nan         45                SKU1045  (45) Name-1045
50        nan         46                SKU1046  (46) Name-1046
51        nan         47                SKU1047  (47) Name-1047
52        nan         48                SKU1048  (48) Name-1048
53        nan         49                SKU1049  (49) Name-1049
54        nan         50                SKU1050  (50) Name-1050

         Unnamed: 4 Unnamed: 5            Unnamed: 6          Unnamed: 7  \
0               nan        nan                   nan                 nan
1               nan        nan                   nan                 nan
2               nan        nan                   nan                 nan
3               nan   Category                   nan      Cost Structure
4   SKU_Description   Category  Category Description           Unit_Cost
5         Name-1001      Cat_A             Cat_A_des                15.5
6          Name1002      Cat_A             Cat_A_des                25.8
7         Name-1003      Cat_A             Cat_A_des                40.2
8         Name-1004      Cat_A             Cat_A_des                40.2
9         Name-1005      Cat_A             Cat_A_des                40.2
10        Name-1006      Cat_A             Cat_A_des                40.2
11        Name-1007      Cat_A             Cat_A_des                40.2
12        Name-1008      Cat_A             Cat_A_des                40.2
13        Name-1009      Cat_A             Cat_A_des                17.5
14        Name-1010      Cat_A             Cat_A_des                  18
15        Name-1011      Cat_A             Cat_A_des                21.9
16        Name-1012      Cat_A             Cat_A_des                16.2
17        Name-1013      Cat_B             Cat_B_des                17.3
18        Name-1014      Cat_B             Cat_B_des                  19
19        Name-1015      Cat_B             Cat_B_des                  15
20        Name-1016      Cat_B             Cat_B_des                  17
21        Name-1017      Cat_B             Cat_B_des                  14
22        Name-1018      Cat_B             Cat_B_des                  13
23        Name-1019      Cat_B             Cat_B_des                  13
24        Name-1020      Cat_B             Cat_B_des                  21
25        Name-1021      Cat_B             Cat_B_des                  22
26        Name-1022      Cat_B             Cat_B_des                   9
27        Name-1023      Cat_C             Cat_C_des                  10
28        Name-1024      Cat_C             Cat_C_des                   9
29        Name-1025      Cat_C             Cat_C_des                  10
30        Name-1026      Cat_C             Cat_C_des                  13
31        Name-1027      Cat_C             Cat_C_des                  13
32        Name-1028      Cat_C             Cat_C_des                  11
33        Name-1029      Cat_C             Cat_C_des                  16
34        Name-1030      Cat_C             Cat_C_des                  10
35        Name-1031      Cat_C             Cat_C_des                  10
36        Name-1032      Cat_C             Cat_C_des                   9
37        Name-1033      Cat_C             Cat_C_des                   9
38        Name-1034      Cat_C             Cat_C_des                  17
39        Name-1035      Cat_C             Cat_C_des                  15
40        Name-1036      Cat_C             Cat_C_des                  20
41        Name-1037      Cat_C             Cat_C_des                  30
42        Name-1038      Cat_D             Cat_D_des                  19
43        Name-1039      Cat_D             Cat_D_des                   7
44        Name-1040      Cat_D             Cat_D_des                   6
45        Name-1041      Cat_D             Cat_D_des                   5
46        Name-1042      Cat_D             Cat_D_des                   6
47        Name-1043      Cat_D             Cat_D_des                   6
48        Name-1044      Cat_D             Cat_D_des                   6
49        Name-1045      Cat_D             Cat_D_des                   5
50        Name-1046      Cat_D             Cat_D_des                   7
51        Name-1047      Cat_D             Cat_D_des                   6
52        Name-1048      Cat_D             Cat_D_des                   6
53        Name-1049      Cat_D             Cat_D_des                   7
54        Name-1050      Cat_D             Cat_D_des                   6

      Unnamed: 8           Unnamed: 9 Unnamed: 10    Unnamed: 11  Unnamed: 12  \
0    Total SKUs:                   50         nan            nan          nan
1   Imported on:  2020-02-25 00:00:00         nan            nan          nan
2            nan                  nan         nan            nan          nan
3            nan     Inventory Policy         nan            nan  Item Volume
4            UOM        Reorder Point         Max  Min Order Qty          nan
5            nan                  177         251            nan          nan
6            nan                  304         385            nan          nan
7            nan                  168         231            nan          nan
8            nan                  452         538            nan          nan
9            nan                  187         257            nan          nan
10           nan                  375         446            nan          nan
11           nan                  212         301            nan          nan
12           nan                  180         255            nan          nan
13           nan                  180         248            nan          nan
14           nan                  218         300            nan          nan
15           nan                  143         196            nan          nan
16           nan                  169         233            nan          nan
17           nan                  158         217            nan          nan
18           nan                  152         209            nan          nan
19           nan                  238         327            nan          nan
20           nan                  199         274            nan          nan
21           nan                  203         279            nan          nan
22           nan                  245         337            nan          nan
23           nan                  205         282            nan          nan
24           nan                  205         282            nan          nan
25           nan                  182         250            nan          nan
26           nan                  153         210            nan          nan
27           nan                  210         289            nan          nan
28           nan                  179         246            nan          nan
29           nan                  111         153            nan          nan
30           nan                  196         269            nan          nan
31           nan                  262         360            nan          nan
32           nan                  193         265            nan          nan
33           nan                  184         253            nan          nan
34           nan                  130         178            nan          nan
35           nan                  152         209            nan          nan
36           nan                  171         235            nan          nan
37           nan                  130         179            nan          nan
38           nan                  206         284            nan          nan
39           nan                  181         249            nan          nan
40           nan                  241         332            nan          nan
41           nan                  205         282            nan          nan
42           nan                  215         296            nan          nan
43           nan                  177         243            nan          nan
44           nan                  164         225            nan          nan
45           nan                  176         242            nan          nan
46           nan                  168         231            nan          nan
47           nan                  190         261            nan          nan
48           nan                  118         162            nan          nan
49           nan                   81         111            nan          nan
50           nan                  145         199            nan          nan
51           nan                  183         252            nan          nan
52           nan                  156         214            nan          nan
53           nan                  257         353            nan          nan
54           nan                  215         296            nan          nan

         Unnamed: 13 Unnamed: 14 Unnamed: 15       Unnamed: 16  Unnamed: 17  \
0                nan         nan         nan               nan          nan
1                nan         nan         nan               nan          nan
2                nan         nan         nan               nan          nan
3   SKU Segmentation         nan         nan  Excess Threshold          nan
4                ABC         FNS         XYZ   Threshold (Qty)  Pre-defined
5                  A           F           X               111          nan
6                  A           F           X               242          nan
7                  A           F           X               114          nan
8                  A           F           X               387          nan
9                  A           F           X               127          nan
10                 A           F           X               320          nan
11                 A           F           X               133          nan
12                 A           F           X               113          nan
13                 A           F           X               122          nan
14                 A           F           X               147          nan
15                 A           F           X                95          nan
16                 A           F           X               115          nan
17                 A           F           X               107          nan
18                 A           F           X               102          nan
19                 A           F           X               160          nan
20                 A           F           X               134          nan
21                 A           F           X               137          nan
22                 A           F           X               166          nan
23                 A           F           X               138          nan
24                 A           F           X               138          nan
25                 A           F           X               123          nan
26                 A           F           X               103          nan
27                 A           F           X               142          nan
28                 A           F           X               120          nan
29                 A           F           X                75          nan
30                 A           F           X               132          nan
31                 A           F           X               177          nan
32                 A           F           X               130          nan
33                 A           F           X               123          nan
34                 A           F           X                87          nan
35                 A           F           X               103          nan
36                 A           F           X               116          nan
37                 A           F           X                88          nan
38                 A           F           X               140          nan
39                 A           F           X               122          nan
40                 A           F           X               163          nan
41                 A           F           X               138          nan
42                 A           F           X               145          nan
43                 A           F           X               120          nan
44                 A           F           X               111          nan
45                 A           F           X               118          nan
46                 A           F           X               113          nan
47                 A           F           X               128          nan
48                 A           F           X                79          nan
49                 A           F           X                54          nan
50                 A           F           X                97          nan
51                 A           F           X               124          nan
52                 A           F           X               105          nan
53                 A           F           X               174          nan
54                 A           F           X               145          nan

   Unnamed: 18
0          nan
1          nan
2          nan
3       Remark
4          nan
5     Remark 1
6     Remark 2
7     Remark 3
8     Remark 4
9     Remark 5
10    Remark 6
11    Remark 7
12    Remark 8
13    Remark 9
14   Remark 10
15   Remark 11
16   Remark 12
17   Remark 13
18   Remark 14
19   Remark 15
20   Remark 16
21   Remark 17
22   Remark 18
23   Remark 19
24   Remark 20
25   Remark 21
26   Remark 22
27   Remark 23
28   Remark 24
29   Remark 25
30   Remark 26
31   Remark 27
32   Remark 28
33   Remark 29
34   Remark 30
35   Remark 31
36   Remark 32
37   Remark 33
38   Remark 34
39   Remark 35
40   Remark 36
41   Remark 37
42   Remark 38
43   Remark 39
44   Remark 40
45   Remark 41
46   Remark 42
47   Remark 43
48   Remark 44
49   Remark 45
50   Remark 46
51   Remark 47
52   Remark 48
53   Remark 49
54   Remark 50

In [50]:
idx = df_str.apply(lambda x: x.str.contains('SKU_CODE'))  #get row and column value if the cell values is equal to SKU_CODE

col_idx = []
for i in range(df.shape[1]):
    col_idx.append(df.iloc[:,i][idx.iloc[:,i]].index.tolist())


out = []
cnt = 0
for i in col_idx:
    for j in range(len(i)):
        out.append((i[j], cnt))
    cnt += 1
out

[(4, 2)]

In [51]:
idx = df_str.apply(lambda x: x.str.contains('SKU_Name'))  #get row and column value if the cell values is equal to SKU_Name

col_idx = []
for i in range(df.shape[1]):
    col_idx.append(df.iloc[:,i][idx.iloc[:,i]].index.tolist())


out = []
cnt = 0
for i in col_idx:
    for j in range(len(i)):
        out.append((i[j], cnt))
    cnt += 1
out

[(4, 3)]

In [52]:
print(out[0][0])
print(out[0][1])

4
3

In [53]:
i=0
df_strip = data.parse(sheetname=tabnames[i], skiprows= out[0][0]+1 ,skipcolumns = 3 ) #first sheet, skip 5 rows, skip 2 columns 
print(df_strip)

Unnamed: 0  Unnamed: 1 SKU_CODE        SKU_Name SKU_Description Category  \
0          NaN           1  SKU1001   (1) Name-1001       Name-1001    Cat_A
1          NaN           2  SKU1002    (2) Name1002        Name1002    Cat_A
2          NaN           3  SKU1003   (3) Name-1003       Name-1003    Cat_A
3          NaN           4  SKU1004   (4) Name-1004       Name-1004    Cat_A
4          NaN           5  SKU1005   (5) Name-1005       Name-1005    Cat_A
5          NaN           6  SKU1006   (6) Name-1006       Name-1006    Cat_A
6          NaN           7  SKU1007   (7) Name-1007       Name-1007    Cat_A
7          NaN           8  SKU1008   (8) Name-1008       Name-1008    Cat_A
8          NaN           9  SKU1009   (9) Name-1009       Name-1009    Cat_A
9          NaN          10  SKU1010  (10) Name-1010       Name-1010    Cat_A
10         NaN          11  SKU1011  (11) Name-1011       Name-1011    Cat_A
11         NaN          12  SKU1012  (12) Name-1012       Name-1012    Cat_A
12         NaN          13  SKU1013  (13) Name-1013       Name-1013    Cat_B
13         NaN          14  SKU1014  (14) Name-1014       Name-1014    Cat_B
14         NaN          15  SKU1015  (15) Name-1015       Name-1015    Cat_B
15         NaN          16  SKU1016  (16) Name-1016       Name-1016    Cat_B
16         NaN          17  SKU1017  (17) Name-1017       Name-1017    Cat_B
17         NaN          18  SKU1018  (18) Name-1018       Name-1018    Cat_B
18         NaN          19  SKU1019  (19) Name-1019       Name-1019    Cat_B
19         NaN          20  SKU1020  (20) Name-1020       Name-1020    Cat_B
20         NaN          21  SKU1021  (21) Name-1021       Name-1021    Cat_B
21         NaN          22  SKU1022  (22) Name-1022       Name-1022    Cat_B
22         NaN          23  SKU1023  (23) Name-1023       Name-1023    Cat_C
23         NaN          24  SKU1024  (24) Name-1024       Name-1024    Cat_C
24         NaN          25  SKU1025  (25) Name-1025       Name-1025    Cat_C
25         NaN          26  SKU1026  (26) Name-1026       Name-1026    Cat_C
26         NaN          27  SKU1027  (27) Name-1027       Name-1027    Cat_C
27         NaN          28  SKU1028  (28) Name-1028       Name-1028    Cat_C
28         NaN          29  SKU1029  (29) Name-1029       Name-1029    Cat_C
29         NaN          30  SKU1030  (30) Name-1030       Name-1030    Cat_C
30         NaN          31  SKU1031  (31) Name-1031       Name-1031    Cat_C
31         NaN          32  SKU1032  (32) Name-1032       Name-1032    Cat_C
32         NaN          33  SKU1033  (33) Name-1033       Name-1033    Cat_C
33         NaN          34  SKU1034  (34) Name-1034       Name-1034    Cat_C
34         NaN          35  SKU1035  (35) Name-1035       Name-1035    Cat_C
35         NaN          36  SKU1036  (36) Name-1036       Name-1036    Cat_C
36         NaN          37  SKU1037  (37) Name-1037       Name-1037    Cat_C
37         NaN          38  SKU1038  (38) Name-1038       Name-1038    Cat_D
38         NaN          39  SKU1039  (39) Name-1039       Name-1039    Cat_D
39         NaN          40  SKU1040  (40) Name-1040       Name-1040    Cat_D
40         NaN          41  SKU1041  (41) Name-1041       Name-1041    Cat_D
41         NaN          42  SKU1042  (42) Name-1042       Name-1042    Cat_D
42         NaN          43  SKU1043  (43) Name-1043       Name-1043    Cat_D
43         NaN          44  SKU1044  (44) Name-1044       Name-1044    Cat_D
44         NaN          45  SKU1045  (45) Name-1045       Name-1045    Cat_D
45         NaN          46  SKU1046  (46) Name-1046       Name-1046    Cat_D
46         NaN          47  SKU1047  (47) Name-1047       Name-1047    Cat_D
47         NaN          48  SKU1048  (48) Name-1048       Name-1048    Cat_D
48         NaN          49  SKU1049  (49) Name-1049       Name-1049    Cat_D
49         NaN          50  SKU1050  (50) Name-1050       Name-1050    Cat_D

   Category Description  Unit_Cost  UOM  Reorder Point  Max  Min Order Qty  \
0             Cat_A_des       15.5  NaN            177  251            NaN
1             Cat_A_des       25.8  NaN            304  385            NaN
2             Cat_A_des       40.2  NaN            168  231            NaN
3             Cat_A_des       40.2  NaN            452  538            NaN
4             Cat_A_des       40.2  NaN            187  257            NaN
5             Cat_A_des       40.2  NaN            375  446            NaN
6             Cat_A_des       40.2  NaN            212  301            NaN
7             Cat_A_des       40.2  NaN            180  255            NaN
8             Cat_A_des       17.5  NaN            180  248            NaN
9             Cat_A_des       18.0  NaN            218  300            NaN
10            Cat_A_des       21.9  NaN            143  196            NaN
11            Cat_A_des       16.2  NaN            169  233            NaN
12            Cat_B_des       17.3  NaN            158  217            NaN
13            Cat_B_des       19.0  NaN            152  209            NaN
14            Cat_B_des       15.0  NaN            238  327            NaN
15            Cat_B_des       17.0  NaN            199  274            NaN
16            Cat_B_des       14.0  NaN            203  279            NaN
17            Cat_B_des       13.0  NaN            245  337            NaN
18            Cat_B_des       13.0  NaN            205  282            NaN
19            Cat_B_des       21.0  NaN            205  282            NaN
20            Cat_B_des       22.0  NaN            182  250            NaN
21            Cat_B_des        9.0  NaN            153  210            NaN
22            Cat_C_des       10.0  NaN            210  289            NaN
23            Cat_C_des        9.0  NaN            179  246            NaN
24            Cat_C_des       10.0  NaN            111  153            NaN
25            Cat_C_des       13.0  NaN            196  269            NaN
26            Cat_C_des       13.0  NaN            262  360            NaN
27            Cat_C_des       11.0  NaN            193  265            NaN
28            Cat_C_des       16.0  NaN            184  253            NaN
29            Cat_C_des       10.0  NaN            130  178            NaN
30            Cat_C_des       10.0  NaN            152  209            NaN
31            Cat_C_des        9.0  NaN            171  235            NaN
32            Cat_C_des        9.0  NaN            130  179            NaN
33            Cat_C_des       17.0  NaN            206  284            NaN
34            Cat_C_des       15.0  NaN            181  249            NaN
35            Cat_C_des       20.0  NaN            241  332            NaN
36            Cat_C_des       30.0  NaN            205  282            NaN
37            Cat_D_des       19.0  NaN            215  296            NaN
38            Cat_D_des        7.0  NaN            177  243            NaN
39            Cat_D_des        6.0  NaN            164  225            NaN
40            Cat_D_des        5.0  NaN            176  242            NaN
41            Cat_D_des        6.0  NaN            168  231            NaN
42            Cat_D_des        6.0  NaN            190  261            NaN
43            Cat_D_des        6.0  NaN            118  162            NaN
44            Cat_D_des        5.0  NaN             81  111            NaN
45            Cat_D_des        7.0  NaN            145  199            NaN
46            Cat_D_des        6.0  NaN            183  252            NaN
47            Cat_D_des        6.0  NaN            156  214            NaN
48            Cat_D_des        7.0  NaN            257  353            NaN
49            Cat_D_des        6.0  NaN            215  296            NaN

    Unnamed: 12 ABC FNS XYZ  Threshold (Qty)  Pre-defined Unnamed: 18
0           NaN   A   F   X              111          NaN    Remark 1
1           NaN   A   F   X              242          NaN    Remark 2
2           NaN   A   F   X              114          NaN    Remark 3
3           NaN   A   F   X              387          NaN    Remark 4
4           NaN   A   F   X              127          NaN    Remark 5
5           NaN   A   F   X              320          NaN    Remark 6
6           NaN   A   F   X              133          NaN    Remark 7
7           NaN   A   F   X              113          NaN    Remark 8
8           NaN   A   F   X              122          NaN    Remark 9
9           NaN   A   F   X              147          NaN   Remark 10
10          NaN   A   F   X               95          NaN   Remark 11
11          NaN   A   F   X              115          NaN   Remark 12
12          NaN   A   F   X              107          NaN   Remark 13
13          NaN   A   F   X              102          NaN   Remark 14
14          NaN   A   F   X              160          NaN   Remark 15
15          NaN   A   F   X              134          NaN   Remark 16
16          NaN   A   F   X              137          NaN   Remark 17
17          NaN   A   F   X              166          NaN   Remark 18
18          NaN   A   F   X              138          NaN   Remark 19
19          NaN   A   F   X              138          NaN   Remark 20
20          NaN   A   F   X              123          NaN   Remark 21
21          NaN   A   F   X              103          NaN   Remark 22
22          NaN   A   F   X              142          NaN   Remark 23
23          NaN   A   F   X              120          NaN   Remark 24
24          NaN   A   F   X               75          NaN   Remark 25
25          NaN   A   F   X              132          NaN   Remark 26
26          NaN   A   F   X              177          NaN   Remark 27
27          NaN   A   F   X              130          NaN   Remark 28
28          NaN   A   F   X              123          NaN   Remark 29
29          NaN   A   F   X               87          NaN   Remark 30
30          NaN   A   F   X              103          NaN   Remark 31
31          NaN   A   F   X              116          NaN   Remark 32
32          NaN   A   F   X               88          NaN   Remark 33
33          NaN   A   F   X              140          NaN   Remark 34
34          NaN   A   F   X              122          NaN   Remark 35
35          NaN   A   F   X              163          NaN   Remark 36
36          NaN   A   F   X              138          NaN   Remark 37
37          NaN   A   F   X              145          NaN   Remark 38
38          NaN   A   F   X              120          NaN   Remark 39
39          NaN   A   F   X              111          NaN   Remark 40
40          NaN   A   F   X              118          NaN   Remark 41
41          NaN   A   F   X              113          NaN   Remark 42
42          NaN   A   F   X              128          NaN   Remark 43
43          NaN   A   F   X               79          NaN   Remark 44
44          NaN   A   F   X               54          NaN   Remark 45
45          NaN   A   F   X               97          NaN   Remark 46
46          NaN   A   F   X              124          NaN   Remark 47
47          NaN   A   F   X              105          NaN   Remark 48
48          NaN   A   F   X              174          NaN   Remark 49
49          NaN   A   F   X              145          NaN   Remark 50

In [54]:

cols1 = list(df_strip.columns)
print(cols1)

['Unnamed: 0', 'Unnamed: 1', 'SKU_CODE', 'SKU_Name', 'SKU_Description', 'Category', 'Category Description', 'Unit_Cost', 'UOM', 'Reorder Point', 'Max', 'Min Order Qty', 'Unnamed: 12', 'ABC', 'FNS', 'XYZ', 'Threshold (Qty)', 'Pre-defined', 'Unnamed: 18']

In [55]:
df_strip = df_strip.drop(df_strip.filter(regex='Unnamed').columns, axis=1)  #drop those columns with Unnamed
print(df_strip)

SKU_CODE        SKU_Name SKU_Description Category Category Description  \
0   SKU1001   (1) Name-1001       Name-1001    Cat_A            Cat_A_des
1   SKU1002    (2) Name1002        Name1002    Cat_A            Cat_A_des
2   SKU1003   (3) Name-1003       Name-1003    Cat_A            Cat_A_des
3   SKU1004   (4) Name-1004       Name-1004    Cat_A            Cat_A_des
4   SKU1005   (5) Name-1005       Name-1005    Cat_A            Cat_A_des
5   SKU1006   (6) Name-1006       Name-1006    Cat_A            Cat_A_des
6   SKU1007   (7) Name-1007       Name-1007    Cat_A            Cat_A_des
7   SKU1008   (8) Name-1008       Name-1008    Cat_A            Cat_A_des
8   SKU1009   (9) Name-1009       Name-1009    Cat_A            Cat_A_des
9   SKU1010  (10) Name-1010       Name-1010    Cat_A            Cat_A_des
10  SKU1011  (11) Name-1011       Name-1011    Cat_A            Cat_A_des
11  SKU1012  (12) Name-1012       Name-1012    Cat_A            Cat_A_des
12  SKU1013  (13) Name-1013       Name-1013    Cat_B            Cat_B_des
13  SKU1014  (14) Name-1014       Name-1014    Cat_B            Cat_B_des
14  SKU1015  (15) Name-1015       Name-1015    Cat_B            Cat_B_des
15  SKU1016  (16) Name-1016       Name-1016    Cat_B            Cat_B_des
16  SKU1017  (17) Name-1017       Name-1017    Cat_B            Cat_B_des
17  SKU1018  (18) Name-1018       Name-1018    Cat_B            Cat_B_des
18  SKU1019  (19) Name-1019       Name-1019    Cat_B            Cat_B_des
19  SKU1020  (20) Name-1020       Name-1020    Cat_B            Cat_B_des
20  SKU1021  (21) Name-1021       Name-1021    Cat_B            Cat_B_des
21  SKU1022  (22) Name-1022       Name-1022    Cat_B            Cat_B_des
22  SKU1023  (23) Name-1023       Name-1023    Cat_C            Cat_C_des
23  SKU1024  (24) Name-1024       Name-1024    Cat_C            Cat_C_des
24  SKU1025  (25) Name-1025       Name-1025    Cat_C            Cat_C_des
25  SKU1026  (26) Name-1026       Name-1026    Cat_C            Cat_C_des
26  SKU1027  (27) Name-1027       Name-1027    Cat_C            Cat_C_des
27  SKU1028  (28) Name-1028       Name-1028    Cat_C            Cat_C_des
28  SKU1029  (29) Name-1029       Name-1029    Cat_C            Cat_C_des
29  SKU1030  (30) Name-1030       Name-1030    Cat_C            Cat_C_des
30  SKU1031  (31) Name-1031       Name-1031    Cat_C            Cat_C_des
31  SKU1032  (32) Name-1032       Name-1032    Cat_C            Cat_C_des
32  SKU1033  (33) Name-1033       Name-1033    Cat_C            Cat_C_des
33  SKU1034  (34) Name-1034       Name-1034    Cat_C            Cat_C_des
34  SKU1035  (35) Name-1035       Name-1035    Cat_C            Cat_C_des
35  SKU1036  (36) Name-1036       Name-1036    Cat_C            Cat_C_des
36  SKU1037  (37) Name-1037       Name-1037    Cat_C            Cat_C_des
37  SKU1038  (38) Name-1038       Name-1038    Cat_D            Cat_D_des
38  SKU1039  (39) Name-1039       Name-1039    Cat_D            Cat_D_des
39  SKU1040  (40) Name-1040       Name-1040    Cat_D            Cat_D_des
40  SKU1041  (41) Name-1041       Name-1041    Cat_D            Cat_D_des
41  SKU1042  (42) Name-1042       Name-1042    Cat_D            Cat_D_des
42  SKU1043  (43) Name-1043       Name-1043    Cat_D            Cat_D_des
43  SKU1044  (44) Name-1044       Name-1044    Cat_D            Cat_D_des
44  SKU1045  (45) Name-1045       Name-1045    Cat_D            Cat_D_des
45  SKU1046  (46) Name-1046       Name-1046    Cat_D            Cat_D_des
46  SKU1047  (47) Name-1047       Name-1047    Cat_D            Cat_D_des
47  SKU1048  (48) Name-1048       Name-1048    Cat_D            Cat_D_des
48  SKU1049  (49) Name-1049       Name-1049    Cat_D            Cat_D_des
49  SKU1050  (50) Name-1050       Name-1050    Cat_D            Cat_D_des

    Unit_Cost  UOM  Reorder Point  Max  Min Order Qty ABC FNS XYZ  \
0        15.5  NaN            177  251            NaN   A   F   X
1        25.8  NaN            304  385            NaN   A   F   X
2        40.2  NaN            168  231            NaN   A   F   X
3        40.2  NaN            452  538            NaN   A   F   X
4        40.2  NaN            187  257            NaN   A   F   X
5        40.2  NaN            375  446            NaN   A   F   X
6        40.2  NaN            212  301            NaN   A   F   X
7        40.2  NaN            180  255            NaN   A   F   X
8        17.5  NaN            180  248            NaN   A   F   X
9        18.0  NaN            218  300            NaN   A   F   X
10       21.9  NaN            143  196            NaN   A   F   X
11       16.2  NaN            169  233            NaN   A   F   X
12       17.3  NaN            158  217            NaN   A   F   X
13       19.0  NaN            152  209            NaN   A   F   X
14       15.0  NaN            238  327            NaN   A   F   X
15       17.0  NaN            199  274            NaN   A   F   X
16       14.0  NaN            203  279            NaN   A   F   X
17       13.0  NaN            245  337            NaN   A   F   X
18       13.0  NaN            205  282            NaN   A   F   X
19       21.0  NaN            205  282            NaN   A   F   X
20       22.0  NaN            182  250            NaN   A   F   X
21        9.0  NaN            153  210            NaN   A   F   X
22       10.0  NaN            210  289            NaN   A   F   X
23        9.0  NaN            179  246            NaN   A   F   X
24       10.0  NaN            111  153            NaN   A   F   X
25       13.0  NaN            196  269            NaN   A   F   X
26       13.0  NaN            262  360            NaN   A   F   X
27       11.0  NaN            193  265            NaN   A   F   X
28       16.0  NaN            184  253            NaN   A   F   X
29       10.0  NaN            130  178            NaN   A   F   X
30       10.0  NaN            152  209            NaN   A   F   X
31        9.0  NaN            171  235            NaN   A   F   X
32        9.0  NaN            130  179            NaN   A   F   X
33       17.0  NaN            206  284            NaN   A   F   X
34       15.0  NaN            181  249            NaN   A   F   X
35       20.0  NaN            241  332            NaN   A   F   X
36       30.0  NaN            205  282            NaN   A   F   X
37       19.0  NaN            215  296            NaN   A   F   X
38        7.0  NaN            177  243            NaN   A   F   X
39        6.0  NaN            164  225            NaN   A   F   X
40        5.0  NaN            176  242            NaN   A   F   X
41        6.0  NaN            168  231            NaN   A   F   X
42        6.0  NaN            190  261            NaN   A   F   X
43        6.0  NaN            118  162            NaN   A   F   X
44        5.0  NaN             81  111            NaN   A   F   X
45        7.0  NaN            145  199            NaN   A   F   X
46        6.0  NaN            183  252            NaN   A   F   X
47        6.0  NaN            156  214            NaN   A   F   X
48        7.0  NaN            257  353            NaN   A   F   X
49        6.0  NaN            215  296            NaN   A   F   X

    Threshold (Qty)  Pre-defined
0               111          NaN
1               242          NaN
2               114          NaN
3               387          NaN
4               127          NaN
5               320          NaN
6               133          NaN
7               113          NaN
8               122          NaN
9               147          NaN
10               95          NaN
11              115          NaN
12              107          NaN
13              102          NaN
14              160          NaN
15              134          NaN
16              137          NaN
17              166          NaN
18              138          NaN
19              138          NaN
20              123          NaN
21              103          NaN
22              142          NaN
23              120          NaN
24               75          NaN
25              132          NaN
26              177          NaN
27              130          NaN
28              123          NaN
29               87          NaN
30              103          NaN
31              116          NaN
32               88          NaN
33              140          NaN
34              122          NaN
35              163          NaN
36              138          NaN
37              145          NaN
38              120          NaN
39              111          NaN
40              118          NaN
41              113          NaN
42              128          NaN
43               79          NaN
44               54          NaN
45               97          NaN
46              124          NaN
47              105          NaN
48              174          NaN
49              145          NaN

In [56]:
df_strip.to_excel("output.xlsx",
             sheet_name='Part Master')

In [57]:
import pyodbc
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=DESKTOP-CCDK3QN;'
                      'Database=Inventory;'
                      'Trusted_Connection=yes;')

cursor = conn.cursor()
cursor.execute("Select * FROM Inventory.dbo.TestWriteFromPython")
      
for row in cursor:
    print(row)

(1011, 'SKU1002', 'SKU1002Name', 'SKU10002')
(1012, 'SKU1002', 'SKU1002Name', 'SKU10002')
(1013, 'SKU1002', 'SKU1002Name', 'SKU10002')
(1014, 'SKU1002', 'SKU1002Name', 'SKU10002')
(1015, 'SKU1002', 'SKU1002Name', 'SKU10002')
(1016, 'SKU1002', 'SKU1002Name', 'SKU10002')
(1017, 'SKU1002', 'SKU1002Name', 'SKU10002')
(1018, 'SKU1002', 'SKU1002Name', 'SKU10002')
(1019, 'SKU1002', 'SKU1002Name', 'SKU10002')
(1020, 'SKU1002', 'SKU1002Name', 'SKU10002')
(1021, 'SKU1002', 'SKU1002Name', 'SKU10002')
(1022, 'SKU1002', 'SKU1002Name', 'SKU10002')
(1023, 'SKU1002', 'SKU1002Name', 'SKU10002')
(1024, 'SKU1002', 'SKU1002Name', 'SKU10002')
(1025, 'SKU1002', 'SKU1002Name', 'SKU10002')
(1026, 'SKU1002', 'SKU1002Name', 'SKU10002')
(1027, 'SKU1002', 'SKU1002Name', 'SKU10002')
(1028, 'SKU1002', 'SKU1002Name', 'SKU10002')
(1029, 'SKU1002', 'SKU1002Name', 'SKU10002')
(1030, 'SKU1002', 'SKU1002Name', 'SKU10002')

In [58]:
SKU1002 = 'SKU1002'
SKU1002Name = 'SKU1002Name'
SKU10002 = 'SKU10002'
cursor.execute("Insert into TestWriteFromPython Values('" + SKU1002 + "','" + SKU1002Name + "','" + SKU10002 + "')")
conn.commit()
cursor.execute("Select * FROM Inventory.dbo.TestWriteFromPython")


for row in cursor:
    print(row)

(1011, 'SKU1002', 'SKU1002Name', 'SKU10002')
(1012, 'SKU1002', 'SKU1002Name', 'SKU10002')
(1013, 'SKU1002', 'SKU1002Name', 'SKU10002')
(1014, 'SKU1002', 'SKU1002Name', 'SKU10002')
(1015, 'SKU1002', 'SKU1002Name', 'SKU10002')
(1016, 'SKU1002', 'SKU1002Name', 'SKU10002')
(1017, 'SKU1002', 'SKU1002Name', 'SKU10002')
(1018, 'SKU1002', 'SKU1002Name', 'SKU10002')
(1019, 'SKU1002', 'SKU1002Name', 'SKU10002')
(1020, 'SKU1002', 'SKU1002Name', 'SKU10002')
(1021, 'SKU1002', 'SKU1002Name', 'SKU10002')
(1022, 'SKU1002', 'SKU1002Name', 'SKU10002')
(1023, 'SKU1002', 'SKU1002Name', 'SKU10002')
(1024, 'SKU1002', 'SKU1002Name', 'SKU10002')
(1025, 'SKU1002', 'SKU1002Name', 'SKU10002')
(1026, 'SKU1002', 'SKU1002Name', 'SKU10002')
(1027, 'SKU1002', 'SKU1002Name', 'SKU10002')
(1028, 'SKU1002', 'SKU1002Name', 'SKU10002')
(1029, 'SKU1002', 'SKU1002Name', 'SKU10002')
(1030, 'SKU1002', 'SKU1002Name', 'SKU10002')
(1031, 'SKU1002', 'SKU1002Name', 'SKU10002')

In [59]:
cols1 = list(df_strip.columns)
print(cols1)

['SKU_CODE', 'SKU_Name', 'SKU_Description', 'Category', 'Category Description', 'Unit_Cost', 'UOM', 'Reorder Point', 'Max', 'Min Order Qty', 'ABC', 'FNS', 'XYZ', 'Threshold (Qty)', 'Pre-defined']

In [60]:
print(df_strip.filter(regex='SKU_CODE').columns)  #drop those columns with Unnamed

Index(['SKU_CODE'], dtype='object')